*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

/* Home Screen */
#main{

    width: 70vw;
    height: 100vh;
    margin: auto;

}

#back-top{
    position:fixed;
    bottom: 2%;
    right: 1%;
    text-decoration: none;
    color: black;
    width: 4%;
    height: 5%;
    background-color: gray;
    display: flex;
    align-items:center;
    justify-content:center;
    border-radius: 15px;
}
#back-top>img{
    width: 100%;
    height: 100%;
}
#bio{
    display: inline-block;
    width: 49%;
    height: 30%;
    margin-top: 28%;
    
}
#bio>h1{
    font-size: 5em;
    text-shadow: 0 0 2px white;
}
#bio>p{
    text-align: justify;

}
#job{
    color: rgba(192, 192, 2, 0.658);
}

#bubblesDiv{
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-left: 10%;
}

#bb1{

    background-color: white;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 2px solid black;

    margin-top: 10%;
    transition: all ease 0.5s;
    position: absolute;
    font-size: 250%;
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}
#bb1:hover{

    width: 325px;
    height: 325px;
    cursor: pointer;
    margin-left: -3%;
    border: 4px solid black;
    box-shadow: 0px 0px 40px 10px #9198e5;
    background: linear-gradient(#e66465, #9198e5);

    color: white;


}

#bb2{

    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;

    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    transition: all ease 0.5s;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 225%;
    
    font-weight:bold;
    text-align: center;

}

#bb2:hover{

    width: 250px;
    height: 250px;
    cursor: pointer;
    margin-left: 15%;
    margin-top: 2%;
    border: 4px solid black;
    box-shadow: 10px 15px 40px 10px #9198e5;
    background: linear-gradient(#e66465, #9198e5);

    color: white;


}

#bb3{

    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    transition: all ease 0.5s;
    font-size: 150%;
    margin-top: 3%;
    margin-left: 7%;

    text-align: center;
    font-weight:bold;

}
#bb3:hover{
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-left: 4%;
    margin-top: -1%;
    border: 4px solid black;
    box-shadow: 0px 0px 40px 20px #9198e5;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}

#info{
    font-size: 125%;
}

#contact{
    
    width: 70vw;
    height: 60vh;
    margin: auto;
    
}

#contactContent{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    text-align: center;
}

#contactBbContainer{
    width: 100%;
    height: 85%;
    margin-top: 5%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row;
    gap: 20px;
}

#contactBubbles1{
    order: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url("../images/toppng.com-mail-icon-980x980.png");
    background-size: cover;

}
#contactBubbles2{
    order: 1;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url("../images/toppng.com-o-linkedin-512x512.png");
    background-size: cover;


}
#contactBubbles3{
    order: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url("../images/instagram.png");
    background-size: cover;

}

#contactBubbles1:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 20px gray;
}
#contactBubbles2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 20px gray;
}
#contactBubbles3:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px 20px gray;
}

